body {
  background-color: #eee;
}
/* HEADER */
.half_bg {
  background-color: #0f0;
  height: 300px;
}
header {
  margin-top: -300px;
}
.header_top {
  margin-top: 30px;
}
.social_area {
  display: flex;
}
.social_button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 2px 2px #999;
}

/* MAIN */
.body_top {
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0px 2px 2px #ccc;
  border-radius: 3px;
  overflow: hidden;
}
.avatar {
  width: 100%;
  height: auto;
}
.welcome_box {
  background-color: #0f0;
  padding: 5px 7px;
  display: inline-block;
}
.social_button2 {
  flex: 1;
  height: 50px;
  background-color: #0f0;
  text-align: center;
  line-height: 50px;
}
